@charset "utf-8";
/* CSS Document */
.caption
{
	font-family:Rockttf, Verdana, Geneva, sans-serif;
	font-size:10pt;
	line-height:1em;
}

.caption a
{
	font-size:9pt;
}


p
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10pt;
	color:#222;
	text-shadow:#aaa 0px 1px 3px;
}

td
{
	text-align:center;
	padding-bottom:20px;
}

.thumb3
{
	width:200px;
	box-shadow:#aaa 0 0 20px;
	-moz-box-shadow:#aaa 0 0 20px;
	-webkit-box-shadow:#aaa 0 0 20px;
}

.thumb2
{
	width:310px;
	box-shadow:#aaa 0 0 20px;
	-moz-box-shadow:#aaa 0 0 20px;
	-webkit-box-shadow:#aaa 0 0 20px;
}

.thumb2t
{
	height:300px;
	box-shadow:#aaa 0 0 20px;
	-moz-box-shadow:#aaa 0 0 20px;
	-webkit-box-shadow:#aaa 0 0 20px;
}

table
{
	 width:700px;
	 border:0;
}
