@charset "utf-8";
/* ===== Global Selectors ====== */
body
{
	background-image: url(backgroundtexture.jpg);
	background-color:#fff;
	margin:0;
	padding-bottom:20px;
	line-height:15px;
	background-attachment:fixed;
	font-family: Georgia, serif;
}

div#smallbox, div#bigbox
{
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	position:relative;
	margin:auto;
	margin-bottom:20px;
	overflow:auto;
	
	border:0;
	border-top: #fff 1px solid;
	border-bottom: #fff 1px solid;
}

div#bigboxwrap, div#smallboxwrap
{
	margin: 0 auto;
	overflow: hidden;
	padding:10px 0;
	position:relative;
}

div#bigboxwrap
{
	max-width:960px;
}

div#smallboxwrap
{
	max-width:640px;
}


div#smallbox:hover, div#bigbox:hover, div#smallbox:active, div#bigbox:active
{

	-ms-box-shadow:0px 0px 8px rgb(200,200,200);
	-o-box-shadow:0px 0px 8px rgb(200,200,200);
	-moz-box-shadow:0px 0px 8px rgb(200,200,200);
	-webkit-box-shadow:0px 0px 8px rgb(200,200,200);
	box-shadow:0px 0px 8px rgb(200,200,200);

	-ms-box-shadow:0px 0px 8px rgba(200,200,200,.8);
	-o-box-shadow:0px 0px 8px rgba(200,200,200,.8);
	-moz-box-shadow:0px 0px 8px rgba(200,200,200,.8);
	-webkit-box-shadow:0px 0px 8px rgba(200,200,200,.8);
	box-shadow:0px 0px 8px rgba(200,200,200,.8);
}

a:link, a:visited
{
	text-decoration:none;
	color:#444;
}

h1
{
	font-family: "Gill Sans", "Gill Sans MT", Helvetica, sans-serif;
	font-size:250%;
	font-style:normal;
	color:#b02212;
	line-height:150%;
	font-weight:400;
	text-transform: uppercase;
	letter-spacing: .15em;
}

#smallbox h1
{
	font-size:250%;
	margin:48px 0 25px;
}

#bigbox h1
{
	font-size:300%;
	text-align: center;
}


h2, .phone_number
{
	font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
	font-size:45px;
	font-style:normal;
	color:#b02212;
	margin:45px 0 27px;
	line-height:45px;
	font-weight:400;
	text-align:center;
}

.phone_number{font-size:25pt;}
.phone_number a:link, .phone_number a:visited {color:#b02212}

h3, .call_now, .message
{
	font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
	font-size:25px;
	font-style:normal;
	text-align:left;
	color:#b02212;
	margin:0 0 7px;
	line-height:30px;
	font-weight:700;
}

h4
{
	font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
	font-size:25px;
	font-style:normal;
	text-align:left;
	line-height:30px;
	margin-top:10px;
	font-weight:400;
}

h4 a
{
	background-image:url('assets/external_link.png');
	background-position:bottom right;
	background-repeat:no-repeat;
	padding-right:15px;
}

h5
{
	font-weight: 400;
	font-style: italic;
	margin-bottom: .25em;
	margin-top: .5em;
}

p, li, input, textarea
{
	font-family: Verdana;
	text-align:left;
	margin-bottom: .25em;
}

li
{
	list-style: square;
	margin-left: 1em;
}

p
{
	margin-bottom:15px;
}

.nav
{
	font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
	font-size:25pt;
	color:#b02212;
	line-height:45px;
	font-weight:normal;
	font-weight:100;
	letter-spacing: .05em;
}

.home_button
{
	position:absolute;
	top:4px;
	right:20px;
	font-size:15pt;
	font-family: "Gill Sans", "Gill Sans MT", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight:400;
}

.home_button a:link, .home_button a:visited, .home_button a:active, .home_button a:hover
{
	color:#b02212
}

#monogram
{
	display:block;
	position:absolute;
	bottom:20px;
	right:20px;
}

#monogram img
{
	width:25px;
	height:25px;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	margin:0px !important;
}

a#monogram:hover, a#monogram :active, a#monogram:focus
{
	-moz-transform:scale(1) !important;
	-o-transform:scale(1) !important;
	-webkit-transform:scale(1) !important;
	-ms-transform:scale(1) !important;
	transform:scale(1) !important;
}

/* ===== Smallbox CSS ===== */



#homepage, #blogs, #four_oh_four
{
	padding:50px;
}

div#smallbox
{
	text-align:center;
	margin-top:50px;
	min-width:389px;
	max-width:640px;
	padding:0 30px 60px;
}

a
{
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	display:inline-block;
}

a:hover, a:active, a:focus
{
	-moz-transform:scale(1.03);
	-o-transform:scale(1.03);
	-webkit-transform:scale(1.03);
	-ms-transform:scale(1.03);
	transform:scale(1.03);
}

.nav a:hover, .nav a:active, .nav a:focus, .aside a:hover, .aside a:active, .aside a:focus
{
	color: #000;
}

.aside a:hover, .aside a:active, .aside a:focus
{
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);

}

.nav a:hover, .nav a:active, .nav a:focus
{
	-moz-transform:scale(1.01);
	-o-transform:scale(1.01);
	-webkit-transform:scale(1.01);
	-ms-transform:scale(1.01);
	transform:scale(1.01);

}


#smallbox a.homelink
{
	font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:20px;
	line-height:30px;
	font-weight:400;
	margin-top:27px;
	display:block;
	color:#555;
}


#smallbox .aside, #smallbox .aside a:link, #smallbox .aside a:visited
{
	font-family: "Gill Sans", "Gill Sans MT", Helvetica, sans-serif;
	font-size:105%;
	text-transform: lowercase;
	color:#444;
	font-weight:400;
	letter-spacing: .07em;
}

#smallbox .aside
{
	margin-top:42px;
}



/* ===== Bigbox CSS ===== */


div#bigbox 
{
	margin-top:20px;
	width:920px;
	padding:20px;
	background-color: #fff;
	background-color: rgba(256,256,256,.3);
}

#bigbox h2
{
	margin-top:0px;
}

#bigbox .nav a
{
	color:#777;
}

.leftbox, .rightbox
{
	float:left;
}

.leftbox
{
	width:520px;
	margin-right:20px;
}

.rightbox
{
	width:375px;
}

.two_wide
{
	width:95%;
	height:300px;
}




/* ===== CV CSS ===== */


#subheading
{
	text-align: center;
	font-style: italic;
	margin: 10px 0 15px;
	letter-spacing: .07em;
}

#cv h3
{
	border-top:#C6D4E1 1px solid;
	font-size:11pt;
	font-weight:500;
}

img.logo-img
{
	max-width:75px;
	max-height:75px;
	float:right;
	position: relative;
	margin-left: 5px;
	margin-bottom: 5px;
}

img.logo-img
{
	opacity: .75;
	-khtml-opacity: .75;
	-moz-opacity: .75;
	filter: alpha(opacity=.75);
}

.contentbox:hover img.logo-img, .contentbox:active img.logo-img
{
	opacity: 1;
	-khtml-opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=1);
}

.contentbox:hover a:visited, .contentbox:active a:link, .contentbox:hover h4 a:link, .contentbox:active h4 a:link, .contentbox:hover h4 a:visited, .contentbox:active h4 a:visited, .contentbox:active h4, .contentbox:hover h4  
{
	color:#B02212;
}

#education h3, #skillset h3
{
	margin-top:8px;
	margin-bottom:0;
}

.rightbox h4
{
	margin-top:17px;
}

.rightbox h5
{
	morgin-top:
}

.external_link
{
	width:10px;
	height:9px;
}

.contentbox
{
	border-bottom:#ccc 1px dotted;
	padding-bottom:24px;
}


.contentbox:first-of-type
{
	border-style:solid;
}

.rightbox .contentbox
{
	border:none;
}

#portrait
{

	margin-bottom:19px;
}

h3 + p
{
	margin-top:12px;
}

p + h4
{
	margin-top:20px;
}

h5 + p
{
	margin-top:17px;
}

h5 ~ h5
{
	margin-top:28px;
}

.rightbox * h5
{
	margin-top:8px;
}

p.dropcap::first-letter
{
	float:left;
	padding:0 3px 0 0;
	font-size:55px;
	line-height:45px;
	text-shadow: #fdd 2px 2px;
	font-family: "Bookman Old Style","Georgia";
}

#pdf
{
	clear:both;
	margin:0 auto 8px;
	text-align: right;
	width:850px;
	font-family: "Gill Sans", "Gill Sans MT";
}


/* ===== Portfolio CSS ===== */


#portfolio #bigbox
{
	padding-bottom:20px;
}

#portfolio .sectionbox
{
	overflow:auto;
}

#portfolio .sectionbox:not(:last-of-type)
{
	border-bottom:1px dotted #C6D4E1;
	padding-bottom:30px;
	margin-bottom:40px;
}

#portfolio h2, #portfolio h3, #portfolio p
{
	text-align:center;
}

.two_box
{
	float:left;
	width:426px;
	padding:10px 17px;
	text-align:center;
	margin:0 auto 20px;
}

.three_box
{
	float:left;
	width:231px;
	padding:10px 16px;
	text-align:center;
	margin:0 auto 0;
}

.two_box:nth-of-type(odd):last-of-type
{
	float:none;
	margin:auto;
	clear:both;
}

.two_box img
{
	max-width:425px;
	max-height:450px;
	border:1px solid #C6D4E1;
}

.three_box img
{
	max-width:250px;
	max-height:450px;
	border:1px solid #C6D4E1;
}

.two_box a
{
	display:block;
	text-decoration:underline;
}

.two_box p a
{
	display:inline;
}

#websites img
{
	width:225px;
}

h3
{
	clear:both;
}

#portfolio p
{
	margin-bottom:.25em;
}

#portfolio img
{
	margin-bottom:10px;
}


/* ===== Consulting CSS ===== */




.two_column
{
	float:left;
	width:270px;
	margin-right:30px;
	display:inline;
}

.omega
{
	margin-right:0;
}

.border_bottom
{
	padding-bottom:11px;
	border-bottom:1px dotted #C6D4E1;
	margin-bottom:24px;
}

.call_now, .message
{
	text-align:center;
	margin:0;
}

.message

.phone_number
{
	margin-top:18px;
	margin-bottom:0;
}

#contact_form input,#contact_form textarea
{
	border:none;
	overflow:auto;
	outline:none;
}

#contact_form .email, #contact_form .name
{
	padding:0;
	border:1px dotted #C6D4E1;
	border-top:none;
	border-left:none;
	width:150px;
	height:1.2em;
	padding-bottom:2px;
	position:relative;
	bottom:1px;
	margin-left:.5em;
}

#contact_form .name input
{
	text-transform:capitalize;
}

#contact_form .details
{
	padding:2%;
	display:block;
	width:95%;
	min-height:100px;
	border:1px dotted #C6D4E1;
	margin-top:.5em;
}

.message
{
	margin-bottom:20px;
}

#contact_form strong
{
	color:#b02212;
}

.name, .email, .message
{
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	display:inline-block;
}

.name:focus, .email:focus, .message:focus
{
	border-color:#b02212;
	border-style:solid;
}

.submit
{
	background-color:#fff;
	border:1px solid #C6D4E1 !important;
	-ms-box-shadow:4px 4px #C6D4E1;
	-o-box-shadow:4px 4px #C6D4E1;
	-moz-box-shadow:4px 4px #C6D4E1;
	-webkit-box-shadow:4px 4px #C6D4E1;
	box-shadow:4px 4px #C6D4E1;
	padding:3px 10px;
}

/* ===== 404 CSS ===== */



#four_oh_four #infotext
{
	font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:12pt;
	line-height:30px;
	font-weight:400;
	color:#444;
	position:relative;
	top:-4px;
}

#four_oh_four #infotext a
{
	color:#C6D4E1;
}

strong
{
	text-weight:700;
}

em
{
	font-style: italic;
}